{% extends 'base.html.twig' %}
{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Workshop</h2>
                </div>

                <div class="align-self-center ml-auto">
                    {% include 'common/breadcrumb.html.twig' %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Portfolio Single Item -->
    <section class="container g-py-100">
        <div class="u-heading-v2-1--bottom g-mb-30">
            <h2 class="u-heading-v2__title g-mb-10">{{ workshop.title }}</h2>
            <h4 class="g-font-weight-200">{{ workshop.title2 }}</h4>
        </div>
        {% if workshop.images.count > 0 %}
            <!-- Cube Portfolio Blocks - Content -->
            <div class="cbp g-mb-50" data-controls="#filterControls1" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
                {% for img in workshop.images %}
                    <!-- Cube Portfolio Blocks - Item -->
                    <div class="cbp-item identity design">
                        <div class="u-block-hover g-parent">
                            <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="{{ img.size(800,500).url }}" alt="Image description">
                            <div class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
                                <div class="align-items-end flex-column mt-auto ml-auto">
                                    <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="../../assets/img-temp/800x500/img1.jpg">
                                        <i class="icon-communication-017 u-line-icon-pro"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Cube Portfolio Blocks - Item -->
                {% endfor %}
            </div>
            <!-- End Cube Portfolio Blocks - Content -->
        {% endif %}


        <div class="row g-mb-70">
            <div class="col-md-8 g-mb-30">
                <div class="mb-5 g-font-size-16">
                     {{ workshop.text | raw }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="row align-items-lg-center g-mb-5">
                    <div class="col-lg-12 col-md-12">
                        <!-- Article -->
                        <article class="text-center g-bg-gray-light-v5 g-rounded-15 g-overflow-hidden">
                            <!-- Article Header -->
                            <header class="g-bg-{% if workshop.price %}primary{% else%}secondary{% endif%} g-pos-rel g-px-20 g-py-50">
                                <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
                                    <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#f7f7f7"></path>
                                    <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#f7f7f7"></path>
                                    <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0.7" fill="#f7f7f7"></path>
                                    <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#f7f7f7"></path>
                                </svg>
                                <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                                    {% if workshop.price %}
                                        <span class="g-valign-top g-font-size-default">EUR</span>
                                        {{ workshop.price }}
                                    {% else %}
                                        Frei
                                    {% endif %}
                                </strong>
                                <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">{{ workshop.title }}</h3>
                            </header>
                            <!-- End Article Header -->

                            <!-- Article Content -->
                            <div class="g-px-20 g-pt-20 g-pb-40">
                                <ul class="list-unstyled g-mb-40">
                                    <li class="g-mb-20">
                                        <h4>Schwierigkeit</h4>
                                        <span class="js-rating d-block g-color-secondary" data-rating="{{ workshop.difficulty }}">
                                        </span>
                                    </li>
                                    <li class="g-mb-20">
                                        <h4>Nächster Termin</h4>
                                        <span class="g-font-size-18">
                                            {% if workshop.is_date_set %}
                                                {{ workshop.date }}
                                            {% else %}
                                                Auf Anfrage
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li class="g-mb-20">
                                        <h4>Dauer</h4>
                                        {{ workshop.duration_value }} {% for type in workshop.duration_type %}{{ type.title }}{% endfor %}
                                    </li>
                                    <li class="g-mb-20">
                                        <h4>Max. Teilnehmer</h4>
                                        <span class="g-font-size-18">{{ workshop.max_members }}</span>
                                    </li>
                                    <li class="g-mb-20">
                                        <h4>Ort</h4>
                                        <span class="g-font-size-18">Reckenfeld</span>
                                    </li>
                                </ul>
                                <a class="btn text-uppercase u-btn-{% if workshop.price %}primary{% else %}salmon{% endif %} g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="#">Jetzt reservieren</a>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Single Item -->
    <section class="g-bg-primary g-color-white g-pa-50">
        <div class="container">
            <div class="row justify-content-md-around">
                <div class="col-md-8 align-self-md-center">
                    <h2 class="text-uppercase">Haben Sie weitere Frage ?</h2>
                    <p class="lead g-mb-20 g-mb-0--md">klicken Sie auf den Button und füllen Sie das Kontaktformular aus.</p>
                </div>

                <div class="col-md-4 align-self-md-center text-md-center">
                    <a class="btn btn-xl u-btn-salmon text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-10 g-mb-0--sm" href="/kontakt/">Kontakt</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}