{% extends 'base.html.twig' %}
{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-secondary g-color-white g-py-50 g-mb-20">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Workshop</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">
                    {{ workshop.title }}
                </h2>
            </header>

            {% include 'common/breadcrumb.html.twig' %}
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Portfolio Single Item -->
    <section class="container g-py-100">
        {% if workshop.images.count > 0 %}
            <!-- Cube Portfolio Blocks - Content -->
            <div class="cbp g-mb-50" data-controls="#filterControls1" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
                {% for img in workshop.images %}
                    <!-- Cube Portfolio Blocks - Item -->
                    <div class="cbp-item identity design">
                        <div class="u-block-hover g-parent">
                            <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="{{ img.size(800,500).url }}" alt="Image description">
                            <div class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
                                <div class="align-items-end flex-column mt-auto ml-auto">
                                    <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="{{ img.size(800,500).url }}">
                                        <i class="fa fa-expand" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Cube Portfolio Blocks - Item -->
                {% endfor %}
            </div>
            <!-- End Cube Portfolio Blocks - Content -->
        {% endif %}


        <div class="row g-mb-70">
            <div class="col-md-8 g-mb-30">
                <div class="u-heading-v2-1--bottom g-mb-30">
                    <h2 class="u-heading-v2__title g-mb-10">{{ workshop.title }}</h2>
                    <h4 class="g-font-weight-200">{{ workshop.title2 }}</h4>
                </div>
                <div class="mb-5 g-font-size-16">
                     {{ workshop.text | raw }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="row align-items-lg-center g-mb-5">
                    <div class="col-lg-12 col-md-12">
                        <!-- Article -->
                        {% include 'partials/workshop_pricing.html.twig' with {'workshop': workshop} %}
                        <!-- End Article -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Portfolio Single Item -->
    <section class="g-bg-primary g-color-white g-pa-50">
        {% include 'partials/workshop_contact_call_to_action.html.twig' %}
    </section>
{% endblock %}